<div class="container" style="max-width: 550px; margin: auto">

  <!-- {{ auth.jwtPayLoad | json}} -->

  <div class="col-12 p-fluid">
    <p>1) Atenção! servidor heroku dorme a cada [30min] sem requisição</p>
     <p>2) portanto aguarde até [1 minuto] para ele despertar ok?</p>
     <p>3) usuario: admin@algamoney.com, senha: admin, ROLE_ADMIN </p>
     <p>4) usuario: maria@algamoney.com, senha: maria, ROLE_USER </p>
  </div>

  <form autocomplete="on" #loginForm="ngForm">
    <div class="grid surface-card shadow-2 border-round">

      <div class="col-12 p-fluid">
        <h1>Login</h1>
      </div>

      <div class="col-12 p-fluid">
        <label>Usuario</label>
        <input pInputText type="email" name="usuario" placeholder="admin@algamoney.com" ngModel required #usuario>
      </div>

      <div class="col-12 p-fluid">
        <label>Senha</label>
        <input pInputText type="password" name="senha" placeholder="admin" ngModel required #senha>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Login" [disabled]="loginForm.invalid"  (click)="login(usuario.value, senha.value); senha.value=''; "></button>
      </div>

    </div>
  </form>

  <p> Developed by dave.fernandes.dev@gmail.com
    <a href="https://www.youtube.com/watch?v=c4XJti3FvZQ">Vídeo do Curso</a>
  </p>

  <p> Tecnologias/Ementa Curso Completo
    <a href="https://drive.google.com/file/d/1Rfl_D9gsOjMyH69Uxw6-s2S9IuBKYRwq/view?usp=sharing">Conteúdo do Curso</a>
  </p>

  <p> Front-End em Angular 12
    <a href="https://github.com/dave-fernandes-dev/algamoney-ui">Código Angular GitHub</a>
  </p>

  <p> Back-End em Spring-Boot Java
    <a href="https://github.com/dave-fernandes-dev/algamoney-api">Código Java GitHub</a>
  </p>

</div>
