<div class="container font-bold">
  <form autocomplete="off" (ngSubmit)="save()" [formGroup]="form">
    <div class="grid">
      <div class="col-12">
        <h2>{{ editando() ? 'Edição de' : 'Novo' }} Lançamento</h2>
      </div>

    <div class="col-12 md:col-12">
      <p-selectButton [options]="tipos" formControlName="tipo" name="tipo"></p-selectButton>
    </div>


      <div class="col-12 md:col-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar formControlName="dataVencimento" dateFormat="dd/mm/yy" [showIcon]="true"  placeholder="dd/MM/yyyy" name="dataVencimento"></p-calendar>
        <app-message [control]="form.get('dataVencimento')" error="required" text="Informe a Data Vencimento"></app-message>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label>{{ form.get('tipo')?.value === "RECEITA" ? "Recebimento" : "Pagamento" }}</label>
        <p-calendar dateFormat="dd/mm/yy"  [showIcon]="true" placeholder="dd/MM/yyyy" formControlName="dataPagamento" name="dataPagamento" ></p-calendar>
      </div>

      <div class="col-12 md:col-10 p-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="descricao" formControlName="descricao" />

        <app-message [control]="form.get('descricao')" error="required" text="Informe uma Descrição"></app-message>
        <app-message [control]="form.get('descricao')" error="minlength" text="Mínimo de {{ form.get('descricao')?.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ form.get('descricao')?.errors?.minlength?.actualLength }}"></app-message>

      </div>

      <div class="col-12 md:col-2 p-fluid">
        <label>Valor</label>
        <p-inputNumber mode="currency" currency="BRL" placeholder="0,00" name="valor" formControlName="valor"></p-inputNumber>
        <app-message [control]="form.get('valor')" error="required" text="Informe um Valor"></app-message>
      </div>

      <div class="col-12 md:col-6 p-fluid" formGroupName="categoria">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" [filter]="true" name="categoria" formControlName="id"></p-dropdown>
      </div>

      <div class="col-12 md:col-6 p-fluid" formGroupName="pessoa">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true" name="pessoa" formControlName="id"></p-dropdown>
      </div>

      <div class="col-12 p-fluid">
        <label>Observação</label>
        <textarea [rows]="3" pInputTextarea [autoResize]="true" formControlName="observacao" name="observacao"></textarea>
      </div>

      <div class="col-4 col-offset-8 md:col-2 md:col-offset-10 p-fluid">
        <p-fileUpload name="anexo" mode="basic" [auto]="true" [maxFileSize]="100000000"
          chooseLabel="Anexar" accept="image/*,application/*"
          [headers]="uploadHeaders"  [url]="urlUploadAnexo" >
        </p-fileUpload>
      </div>

    </div>

    <div class="col-12">
      <button pButton type="submit" label="Salvar" [disabled]="form.invalid"></button>
      <button pButton type="button" label="Novo" class="p-button-info" (click)="novo()"></button>
      <p-button label="Voltar para a Pesquisa" styleClass="p-button-link" routerLink="/lancamentos"></p-button>
    </div>


    <div>
      <!--
      -->
      <pre> {{form.value| json}}</pre>
    </div>


  </form>
</div>
