<div class="container font-bold">
  <form>
    <div class="grid">
      <div class="col-12">
        <h2>Novo Lançamento</h2>
      </div>

    <div class="col-12 md:col-12">
      <p-selectButton [options]="tipos" #tipo></p-selectButton>
    </div>


      <div class="col-12 md:col-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true"  placeholder="dd/MM/yyyy"></p-calendar>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label>{{ tipo.value === "RECEITA" ? "Recebimento" : "Pagamento" }}</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" placeholder="dd/MM/yyyy"></p-calendar>
      </div>

      <div class="col-12 md:col-10 p-fluid">
        <label>Descrição</label>
        <input type="text" pInputText />
      </div>

      <div class="col-12 md:col-2 p-fluid">
        <label>Valor</label>
        <input type="text" pInputText placeholder="0,00" />
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Categoria {{categoria.value}}</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" #categoria></p-dropdown>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true" ></p-dropdown>
      </div>

      <div class="col-12 p-fluid">
        <label>Observação</label>
        <textarea [rows]="3" pInputTextarea [autoResize]="true"></textarea>
      </div>
    </div>

    <div class="col-12">
      <button pButton type="button" label="Salvar"></button>
      <button pButton type="button" label="Novo" class="p-button-info"></button>
      <p-button label="Voltar para a Pesquisa" styleClass="p-button-link"></p-button>
    </div>
  </form>
</div>
