<div class="container font-bold">
  <form #pessoaForm="ngForm" autocomplete="off" (ngSubmit)="save(pessoaForm)">
    <div class="grid">
      <div class="col-12">
        <h2>{{ editando() ? 'Edição de' : 'Novo' }} Pessoa</h2>
      </div>

      <div class="col-12 p-fluid">
        <label>Nome</label>
        <input type="text" pInputText [(ngModel)]="pessoa.nome" name="nome" required minlength="5"/>
      </div>

      <div class="col-12 md:col-10 p-fluid">
        <label>Logradouro</label>
        <input type="text" pInputText [(ngModel)]="pessoa.endereco.logradouro" name="logradouro" required minlength="1"/>
      </div>

      <div class="col-12 md:col-2 p-fluid">
        <label>Número</label>
        <p-inputNumber  placeholder="0" [(ngModel)]="pessoa.endereco.numero" name="numero" required="true"></p-inputNumber>
      </div>

      <div class="col-12 md:col-4 p-fluid">
        <label>Complemento</label>
        <input type="text" pInputText [(ngModel)]="pessoa.endereco.complemento" name="complemento" required minlength="5" />
      </div>

      <div class="col-12 md:col-4 p-fluid">
        <label>Bairro</label>
        <input type="text" pInputText [(ngModel)]="pessoa.endereco.bairro" name="bairro" required minlength="5"/>
      </div>

      <div class="col-12 md:col-4 p-fluid">
        <label>Cep</label>
        <p-inputMask mask="99.999-999" placeholder="99.999-999" [(ngModel)]="pessoa.endereco.cep" name="cep" required="true"></p-inputMask>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Cidade</label>
        <input type="text" pInputText [(ngModel)]="pessoa.endereco.cidade" name="cidade" required minlength="5"/>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Estado</label>
        <input type="text" pInputText [(ngModel)]="pessoa.endereco.estado" name="estado" required minlength="5"/>
      </div>


      <div class="col-12">
        <p-panel header="Contatos">
          <div class="grid">

            <div class="col-12">
              <button pButton label="Novo Contato" icon="pi pi-plus" type="button"
                class="p-button-outlined p-button-secondary" styleClass="p-button-sm" (click)="prepararNovoContato()"></button>
            </div>


            <div class="col-12">
              <p-table [value]="pessoa.contatos" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th class="col-acoes-header"></th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-contato>
                  <tr>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.email }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td class="col-acoes">
                      <button pButton icon="pi pi-pencil" type="button"
                        pTooltip="Editar" tooltipPosition="top"></button>

                      <button pButton icon="pi pi-trash" type="button"
                        pTooltip="Excluir" tooltipPosition="top"></button>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="4">
                      Nenhum contato cadastrado
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div>




    </div>

    <div class="col-12">
      <button pButton type="submit" label="Salvar"></button>
      <button pButton type="button" label="Novo" class="p-button-info" (click)="novo(pessoaForm)"></button>
      <p-button label="Voltar para a Pesquisa" styleClass="p-button-link" routerLink="/pessoas"></p-button>
    </div>

    <div>
      <!--

      -->
      <pre> {{pessoa | json}}</pre>
    </div>

  </form>
</div>

<p-dialog header="Novo Contato" [(visible)]="exibindoFormularioContato" [modal]="true" *ngIf="contato">
  <form #frmContato="ngForm">
    <div class="col-12 p-fluid">
      <label>Nome</label>

      <input pInputText type="text" name="nome"
        required [(ngModel)]="contato.nome" #contatoNome="ngModel"/>

      <app-message [control]="contatoNome.control" error="required" text="Informe o nome"></app-message>
    </div>

    <div class="col-12 p-fluid">
        <label>E-mail</label>

        <input pInputText type="email" name="email"
          required email [(ngModel)]="contato.email" #contatoEmail="ngModel"/>

        <app-message [control]="contatoEmail.control" error="required" text="Informe o email"></app-message>
        <app-message [control]="contatoEmail.control" error="email" text="Informe um e-mail válido"></app-message>
      </div>

      <div class="col-12 p-fluid">
          <label>Telefone</label>

          <p-inputMask name="telefone" [(ngModel)]="contato.telefone"
            mask="(99) 99999-999?9"></p-inputMask>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Confirmar" [disabled]="frmContato.invalid"></button>
      </div>
  </form>
</p-dialog>
