<div class="container font-bold">
  <form>
    <div class="grid">
      <div class="col-12">
        <h2>Nova Pessoa</h2>
      </div>

      <div class="col-12 p-fluid">
        <label>Nome</label>
        <input type="text" pInputText />
      </div>

      <div class="col-12 md:col-10 p-fluid">
        <label>Logradouro</label>
        <input type="text" pInputText />
      </div>

      <div class="col-12 md:col-2 p-fluid">
        <label>Número</label>
        <p-inputNumber  placeholder="0"></p-inputNumber>
      </div>

      <div class="col-12 md:col-4 p-fluid">
        <label>Complemento</label>
        <input type="text" pInputText />
      </div>

      <div class="col-12 md:col-4 p-fluid">
        <label>Bairro</label>
        <input type="text" pInputText />
      </div>

      <div class="col-12 md:col-4 p-fluid">
        <label>Cep</label>
        <input type="text" pInputText />
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Cidade</label>
        <input type="text" pInputText />
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Estado</label>
        <input type="text" pInputText />
      </div>

    </div>

    <div class="col-12">
      <button pButton type="button" label="Salvar"></button>
      <button pButton type="button" label="Novo" class="p-button-info"></button>
      <p-button label="Voltar para a Pesquisa" styleClass="p-button-link"></p-button>
    </div>
  </form>
</div>
