<nav class="navbar">
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"> <em class="navbar-togle pi pi-bars" style="font-size: 1.5rem"></em></a>
        <button type="button" (click)="criarNovoAccessToken()">Novo AccessToken</button>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{ usuarioLogado }}</li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="temPermissao('ROLE_PESQUISAR_LANCAMENTO')"><a routerLink="/lancamentos">Lançamentos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="temPermissao('ROLE_PESQUISAR_PESSOA')"><a routerLink="/pessoas">Pessoas</a></li>
    <li class="navbar-menuitem"><a routerLink="login">Login</a></li>
    <li class="navbar-menuitem"><a href="#">Logout</a></li>
  </ul>

</nav>
