<div class="container grid font-bold">
  <div class="col-12">
    <h2>Lançamentos</h2>
  </div>

  <div class="col-12 p-fluid">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText class="p-inputtext-sm" />
      <label for="float-input">Descrição</label>
    </span>
  </div>

  <div class="col-12">
    <label class="block">Vencimento</label>
    <input type="text" pInputText class="p-offset-3" />

    <label style="margin: 10px">Até</label>
    <input type="text" pInputText style="width: 100px" />
  </div>

  <div class="col-12">
    <button pButton type="submit" label="Pesquisar"></button>
  </div>
</div>
