<form autocomplete="off" (ngSubmit)="pesquisar()">

<div class="container grid font-bold">
  <div class="col-12">
    <h2>Lançamentos</h2>
  </div>

  <div class="col-12 p-fluid">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText class="p-inputtext-sm" name="descricao" [(ngModel)]="filtro.descricao" />
      <label for="float-input">Descrição</label>
    </span>
  </div>

  <div class="col-12">
    <label class="block">Vencimento</label>
    <p-calendar name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio" dateFormat="dd/mm/yy" [showIcon]="true"  placeholder="__/__/____" [inputStyle]="{width: '106px'}"></p-calendar>

    <label style="margin: 10px">Até</label>
    <p-calendar name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim" dateFormat="dd/mm/yy" [showIcon]="true"  placeholder="__/__/____" [inputStyle]="{width: '106px'}"></p-calendar>
  </div>

  <div class="col-12">
    <button pButton type="submit" label="Pesquisar"></button>
  </div>

  <div class="col-12">
    <p-table [value]="lancamentos" [responsive]="true" [alwaysShowPaginator]="false" styleClass="p-datatable-gridlines p-datatable-striped"
    [paginator]="true" [rows]="filtro.itensPorPagina" [rowsPerPageOptions]="[2, 5, 10, 20, 100]" lazy="true" [totalRecords]="totalRegistros"
    (onLazyLoad)="aoMudarPagina($event)" #tabela>
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Pessoa</th>
          <th>Descrição</th>
          <th>Vencimento</th>
          <th class="col-data-header">Pagamento</th>
          <th class="col-valor-header">Valor</th>
          <th>Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lancamento>
        <tr>
          <td>{{ lancamento.id }}</td>
          <td>{{ lancamento.pessoa }}</td>
          <td>{{ lancamento.descricao }}</td>
          <td class="col-data-content">{{ lancamento.dataVencimento  }}</td>
          <td class="col-data-content">{{ lancamento.dataPagamento }}</td>
          <td class="col-valor-content" [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue'}">{{lancamento.valor | currency:'BRL':true:'1.2-2'}}</td>
          <td class="col-acoes">
            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
            <button pButton icon="pi pi-trash" pTooltip="Excluir" (click)="confirmarExclusao(lancamento)" tooltipPosition="bottom"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">
            Nenhum Registro Encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="col-12">
    <button pButton type="submit" label="Novo Lançamento"></button>
  </div>

</div>
</form>


